body{
  background-color: tan;
}
h1{
  text-align: center;
}
div .container {
  background-color: black;
  height: 100em;
  width: auto;
}

.red{
  background-color: red;


}
.col-md-4{
  padding: 0;
}
.col-sm-12{
  width: 100%;
  padding: 0;
}
.imageSmall{
  width: 100%;
  object-fit: cover;

}
